body {
	background: url("../images/background.jpg");
	position: relative;
    left: 27px;
  }

#header {
    padding: 0px;
    text-align: center;
    position: relative;
    right: -20px;
    border: 0px;
    margin-left: -11px;
    bottom: 30px;
}
 #headingBackground {
    border: 1px;
    color: white;
    border-style: solid;
}

.row {
    margin-right: 764px;
    margin-left: -15px;
}

#crystalrow {
    position: relative;
    left: -21px;
    bottom: 79px;
}
.panel-body {
    padding: 15px;
    position: relative;
    height: 113px;
     left: 55px;
 }

#yourtotalScore{
	font-size: 80px
}
#crystal1,#crystal2,#crystal3,#crystal4{
    border: 0;
	height: 150px;
    width: 150px;
 }
#crystal {
    margin-left: 6px;
    border: 0px;
    position: relative;
    padding: 0px;
    left: 23px;
    padding-left: 18px;
    background-color: black;
    width: 190px;
    border: 1px;
    border-style: solid;
    border-color: white;
}
#p {
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
    border: 1px;
    padding-bottom: -6px;
    border-style: solid;
    border-color: white;
    bottom: 44px;
}
#pbackgroundcolor{
	    background-color: #4687c7;
	    color:white;
}
#totalscore {
    height: 50px;
    position: relative;
    top: -99px;
}
.panel-default {
    border-color: #ddd;
    position: relative;
    padding: 0px;
    margin: 0px;
    margin-top: 21px;
    border: 0px;
    background-color: green;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    margin-left: 10px;
}
#score, #winloss, #totalscore, #totalScore, #pbackgroundcolor, #headingBackground, #totalscorebackground {
    background: url(../images/winsbackground.jpg);
    bottom: 58px;
  }

 #randomNumber, #winsbackground,#totalScore{
    font-size: 36px;
    color: white;
}
b, strong {
    font-weight: 700;
    position: relative;
    text-align: center;
    left: 42px;
    color: white;
}
img{
	border-style: solid;
	border: 3px;
	color: white;
}
#totalscorebackground {
    position: relative;
    bottom: 111px;
}